/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
 
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       outline: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
       font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
       display: block;
   }
   body {
       line-height: 1;
   }
   ol, ul {
       list-style: none;
   }
   blockquote, q {
       quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
       content: â€™â€™;
       content: none;
   }
    
   /* remember to highlight inserts somehow! */
   ins {
       text-decoration: none;
   }
   del {
       text-decoration: line-through;
   }
    
   table {
       border-collapse: collapse;
       border-spacing: 0;
   }

   /*Styles*/

   .wrapper {
       margin-left: 20px;
       margin-top: 20px;
   }

   .header-wrapper {
    height: 100%;
    width: 100%;
    max-height: 500px;
   }

   .header-blue-box {
       background-color: #blue;
       width: 300px;
       height: 300px;
       position: relative;
       float: left;
   }
   .econnect {
       position: relative;
       padding-top: 200px;
   }
   .econnect h1 {
       font-size: 150px;
   }
   .text {
       padding-top: 50px;
       font-size: 50px;
   }
   .section-rectangles {
       height: 100px;
       width: 100%;
       margin-top: 20px;
       background-color: blue;
       position: relative;
       display: block;
   }
.footer {
    margin-top: 40px;
}
.footer h1 {
    font-size: 2em;
}
 
   @media only screen and (min-width:768px) {
    .wrapper {
        max-width: 800px;
    }
    .header-blue-box {
     width: 200px;
     height: 200px;
     position: relative;
     float: left;
 }
 .econnect {
     position: relative;
     padding-top: 85px;
 }
 .econnect h1 {
     font-size: 140px;
 }
}

#one {
    background-color: #ff9966;
}
#two {
    background-color: #cc3300;
}
#three {
    background-color: #cc7a00;
}
#four {
    background-color: #3399ff;
}
#five {
    background-color: #cc66ff;
}
